html {
  margin: 0;
  padding: 0; }

body {
  width: 100%;
  font-family: 'Open Sans', "Tahoma", sans-serif;
  font-size: 20px;
  font-weight: 400;
  background-color: #f1f1f1;
  color: #000; }

img {
  max-width: 100%;
  height: auto; }

a {
  color: #000;
  text-decoration: none; }

.container {
  max-width: 1200px;
  margin: auto;
  padding: 0 15px; }

.page-header {
  background-color: #ffffff;
  padding-top: 10px; }

.header-top {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }

.header-info {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  color: #092a5e;
  font-weight: 400; }

.header-info__adres {
  padding-left: 40px;
  padding-top: 10px;
  font-size: 16px;
  border-left: 1px solid #e5e5e5;
  background-image: url("../img/pin.svg");
  background-repeat: no-repeat;
  background-position: 10px center; }

.header-info__tel {
  padding-left: 30px;
  background-image: url("../img/phone2.svg");
  background-repeat: no-repeat;
  background-position: 5px center; }

.header-info__email {
  padding-left: 30px;
  background-image: url("../img/mail.svg");
  background-repeat: no-repeat;
  background-position: 5px center; }

.header-info__contact {
  padding-left: 20px;
  padding-top: 10px;
  font-size: 14px;
  border-left: 1px solid #e5e5e5; }

.header-info__contact p {
  margin: 10px 0; }

@media screen and (min-width: 768px) {
  .header-top {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row; }
  .header-top__logo {
    margin-right: 15px; }
  .header-info {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; } }

.header-nav {
  background-color: #0a3c8a; }

.header-nav__list {
  position: relative;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  width: 100%;
  padding-left: 70px;
  list-style: none; }

.header-nav__link {
  position: relative;
  display: block;
  padding: 10px 5px;
  color: #c2c2c2;
  font-size: 20px;
  font-weight: 400; }
  .header-nav__link::before {
    content: "";
    position: absolute;
    bottom: -20px;
    width: 200px;
    height: 30px; }
  .header-nav__link.activ, .header-nav__link:hover {
    color: #fff; }
  .header-nav__link--yellow {
    padding: 15px 20px;
    padding-left: 39px;
    margin-left: 20px;
    color: #0a3c8a;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    background-color: #ffc000;
    background-image: url("../img/plus.svg");
    background-repeat: no-repeat;
    background-position: 10px center; }
    .header-nav__link--yellow:hover {
      color: #000;
      background-image: url("../img/plus2.svg"); }

@media screen and (min-width: 768px) {
  .header-nav__list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; } }

.submenu {
  position: absolute;
  left: 9px;
  top: 46px;
  display: none;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px;
  width: 98%;
  background-color: #fff;
  list-style: none;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px; }

.header-nav__link:hover ~ .submenu,
.submenu:hover {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.submenu__title {
  display: block;
  margin-bottom: 15px;
  color: #224376;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase; }

.submenu__list {
  padding: 0;
  list-style: none; }

.submenu__link {
  color: #224376;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px; }

.submenu__link:hover {
  text-decoration: underline; }

.banner {
  padding: 30px 15px;
  height: 80vh;
  color: #102a53;
  text-align: center;
  background-image: url("../img/banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }

.banner__content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.banner__text-box {
  max-width: 1080px;
  margin: auto; }

.banner__title {
  margin: 5px;
  margin-top: 50px;
  font-size: 48px;
  font-weight: 700;
  line-height: 60px;
  text-transform: uppercase; }

.banner__text {
  margin: 0;
  font-size: 30px;
  font-weight: 400; }

@media screen and (max-width: 600px) {
  .banner__title {
    font-size: 29px; } }

.service {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  color: #224376;
  padding-top: 20px; }

.service__main-title {
  width: 100%;
  text-shadow: 1px 1px 0 #d3d0d0;
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center; }

.service__list {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  padding: 0;
  margin: 0;
  list-style: none;
  -webkit-box-shadow: 0 16px 29px rgba(100, 100, 100, 0.27);
          box-shadow: 0 16px 29px rgba(100, 100, 100, 0.27); }

.service__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 150px;
  margin: 2px;
  padding: 25px 37px 2px;
  background-color: #fff; }
  .service__item--side {
    grid-area: 1/4/3/5;
    margin-bottom: 0;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .service__item:hover {
    background-color: #0a3c8a; }
    .service__item:hover .service__link {
      color: #fff; }
    .service__item:hover .service__svg {
      fill: #fff; }

.service__link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.service__title {
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
  text-align: center; }

.service__svg {
  fill: #d40e14; }

.hot {
  color: #224376;
  padding: 10px;
  padding-bottom: 100px; }

.hot__main-title {
  text-shadow: 1px 1px 0 #d3d0d0;
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center; }

.hot__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  padding: 0;
  list-style: none;
  -webkit-box-shadow: 0 16px 29px rgba(100, 100, 100, 0.27);
          box-shadow: 0 16px 29px rgba(100, 100, 100, 0.27); }
  .hot__list--other {
    margin-left: auto;
    max-width: 865px; }

.hot__price-box {
  -webkit-align-self: flex-end;
      -ms-flex-item-align: end;
          align-self: flex-end;
  margin-top: auto;
  text-align: right; }

.hot__old-price {
  display: none;
  -webkit-align-self: flex-end;
      -ms-flex-item-align: end;
          align-self: flex-end;
  margin: 0;
  color: #9E9E9E;
  font-size: 18px;
  text-decoration: line-through; }

.hot__profit {
  display: none;
  -webkit-align-self: flex-end;
      -ms-flex-item-align: end;
          align-self: flex-end;
  padding: 7px;
  margin: 0;
  border-radius: 5px;
  font-size: 12px;
  background-color: #FFEB3B; }

.hot__item {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-flex-basis: 295px;
      -ms-flex-preferred-size: 295px;
          flex-basis: 295px;
  max-width: 291px;
  min-height: 490px;
  margin: 2px;
  padding: 25px;
  background-color: #fff; }
  .hot__item:hover {
    background-color: #607d8b1f; }
  .hot__item--sale::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 110px;
    height: 105px;
    background-image: url("../img/sale.png");
    background-repeat: no-repeat; }
  .hot__item--sale .hot__old-price {
    display: block; }
  .hot__item--sale .hot__profit {
    display: block; }

.hot__title {
  font-size: 16px;
  font-weight: 700; }

.hot__text {
  margin: 5px 0;
  color: #363535;
  font-size: 14px;
  font-weight: 400; }

.hot__price {
  -webkit-align-self: flex-end;
      -ms-flex-item-align: end;
          align-self: flex-end;
  margin: 5px 0;
  color: #363535;
  font-size: 24px; }

.page-footer {
  background-color: #0a3c8a;
  padding: 30px 15px 10px; }

.footer-top {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  padding-bottom: 25px;
  border-bottom: 1px solid rgba(243, 243, 243, 0.4); }

.map {
  margin: 0 25px;
  -webkit-box-flex: 2;
  -webkit-flex-grow: 2;
      -ms-flex-positive: 2;
          flex-grow: 2; }

.footer-info {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 230px;
  color: #fff; }

.footer-info__title {
  margin: 0;
  font-size: 28px;
  font-weight: 700;
  line-height: 56.37px; }

.footer-info__tel {
  color: #ffffff;
  font-size: 24px;
  font-weight: 400;
  padding-left: 30px;
  background-image: url("../img/phone.svg");
  background-repeat: no-repeat;
  background-position: 5px center; }

.footer-info__adres {
  font-size: 16px;
  font-weight: 400;
  padding-left: 30px;
  background-image: url("../img/pin2.svg");
  background-repeat: no-repeat;
  background-position: 5px center; }

.footer-social {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.social__link {
  display: block;
  width: 30px;
  height: 29px;
  background-position: center;
  background-size: cover; }

.social__link_ok {
  background-image: url("../img/ok.png"); }

.social__link_inst {
  background-image: url("../img/inst.png"); }

.social__link_vk {
  background-image: url("../img/vk.png"); }

.footer-copyright {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 25px; }

.copyright {
  margin: 0;
  color: #ffffff;
  font-size: 16px;
  font-weight: 300;
  line-height: 19.04px;
  opacity: 0.7; }

.made {
  color: #ffffff;
  font-size: 16px;
  font-weight: 300;
  line-height: 19.04px;
  opacity: 0.7; }

.made:hover {
  opacity: 1; }

.page__title {
  text-shadow: 1px 1px 0 #d3d0d0;
  color: #224376;
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase; }

.page__breadcrumbs {
  margin-bottom: 25px; }

.page-office__box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.page-office__content {
  -webkit-flex-basis: 770px;
      -ms-flex-preferred-size: 770px;
          flex-basis: 770px;
  margin-right: 25px; }

.breadcrumbs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  padding: 0;
  list-style: none; }

.breadcrumbs__link {
  color: #5e7ba9;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 400;
  text-decoration: none; }

.breadcrumbs__item::after {
  content: '/';
  color: #5e7ba9;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 400;
  padding: 0 5px; }

.sort {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 770px;
  padding: 8.5px;
  border: 1px solid #a8c2cc;
  background-color: #ffffff; }

.sort__title {
  margin: 0;
  color: #5a5454;
  font-family: 'Open Sans';
  font-size: 16px;
  font-weight: 400; }

.sort__select {
  padding: 6px;
  border: none;
  -webkit-box-shadow: inset 0 0 0 rgba(98, 102, 106, 0.28);
          box-shadow: inset 0 0 0 rgba(98, 102, 106, 0.28);
  background-color: #e8f0f3; }

.cards {
  margin: 0;
  padding: 0;
  max-width: 770px;
  list-style: none; }

.cards__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 25px 0;
  background-color: #fff;
  border: 1px solid #a8c2cc; }

.cards__img {
  margin-right: 20px; }

.cards__content {
  width: 100%;
  padding-right: 15px; }

.cards__title {
  color: #224376;
  font-family: "Open Sans";
  font-size: 18px;
  font-weight: 700; }

.cards__stat {
  color: #2f3135;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px; }

.cards__value {
  padding-left: 10px;
  color: #2f3135;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px; }

.cards__price {
  margin: 0;
  margin-top: -10px;
  color: #363535;
  font-family: "Open Sans";
  font-size: 24px;
  font-weight: 700;
  text-align: right; }

.cards__price-span {
  display: block;
  color: #5b7194;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 700; }

.filter {
  -webkit-flex-basis: 375px;
      -ms-flex-preferred-size: 375px;
          flex-basis: 375px; }

.filter__aside-title {
  padding: 21px;
  padding-left: 40px;
  margin: 0;
  color: #ffffff;
  font-family: 'Open Sans';
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  background-color: #0a3c8a;
  background-image: url("../img/filter.svg");
  background-repeat: no-repeat;
  background-position: 10px center; }

.filter__title {
  margin-top: 0;
  color: #224376;
  font-family: 'Open Sans';
  font-size: 16px;
  font-weight: 400; }

.filter__item {
  margin-top: -1px;
  padding: 15px;
  border: 1px solid #a8c2cc;
  background-color: #ffffff; }

.filter__input {
  width: 100%;
  padding: 7px;
  margin-bottom: 15px;
  color: #596f90;
  font-family: 'Open Sans';
  font-size: 14px;
  font-weight: 400; }
  .filter__input--range {
    text-align: center; }
  .filter__input--select {
    margin-bottom: 0; }

.filter__btn-box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 15px;
  background-color: #dddddd; }

.filter__btn {
  -webkit-flex-basis: 155px;
      -ms-flex-preferred-size: 155px;
          flex-basis: 155px;
  padding: 12px;
  color: #fff;
  font-family: 'Open Sans';
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  background-color: #d40e14;
  border: none; }
  .filter__btn--white {
    color: #0a3c8a;
    background-color: #ffffff; }

.page-add {
  padding: 1px 0;
  background-image: url("../img/back-add.png");
  background-repeat: no-repeat;
  background-position: bottom center; }

.page-add__title {
  margin-bottom: 10px;
  color: #224376;
  font-size: 36px;
  font-weight: 800;
  text-transform: uppercase;
  text-align: center; }

.page-add__description {
  max-width: 665px;
  margin: auto;
  margin-bottom: 20px;
  color: #224376;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  text-align: center; }

.add {
  padding: 25px 150px;
  margin: auto;
  margin-bottom: 100px;
  max-width: 972px;
  background-color: #fff; }

.form-add {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }

.form-add__text {
  max-width: 410px;
  margin: auto;
  text-align: center;
  color: #224376;
  font-size: 24px;
  font-weight: 400;
  line-height: 36px; }

.add-inputs {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 25px 0;
  padding: 0;
  list-style: none; }

.add-inputs__item {
  position: relative;
  -webkit-flex-basis: 311px;
      -ms-flex-preferred-size: 311px;
          flex-basis: 311px; }

.add-inputs__label {
  display: block;
  margin: 10px 0;
  color: #224376;
  font-size: 16px;
  font-weight: 400; }

.add-inputs__input {
  width: 100%;
  padding: 10px;
  border: 1px solid #c2c2c2;
  background-color: #f8f8f8;
  color: #224376;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px; }
  .add-inputs__input--textarea {
    min-height: 131px; }

.file {
  display: none; }

.label-file {
  display: block;
  height: 41.44px;
  padding: 10px;
  color: #224376;
  font-size: 16px;
  font-weight: 400;
  text-decoration: underline;
  text-align: center;
  border: 1px dashed #224376; }

.form-add__btn {
  -webkit-align-self: flex-end;
      -ms-flex-item-align: end;
          align-self: flex-end;
  padding: 9px 30px;
  color: #fff;
  background-color: #d40e14;
  border: none; }

.add-inputs__file-name {
  position: absolute;
  top: 47px;
  width: 99%;
  background-color: #fff;
  text-align: center;
  margin-left: 2px;
  overflow: hidden;
  color: #224376;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px; }

.add__line {
  width: 100%;
  margin-bottom: 25px;
  border: none;
  border-bottom: 1px solid #c2c2c2; }

.ipoteka__text {
  max-width: 800px;
  color: #224376;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px; }

.help-ipoteka {
  color: #224376;
  background-image: url("../img/back-ipoteka-form.png");
  background-repeat: no-repeat;
  background-position: center; }

.help-ipoteka__content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  padding: 35px 0; }

.help-ipoteka__text-box {
  max-width: 500px;
  margin-right: 20px; }

.help-ipoteka__title {
  font-size: 24px;
  font-weight: 900;
  line-height: 34px;
  text-transform: uppercase; }

.help-ipoteka__text {
  font-size: 18px;
  font-weight: 400;
  line-height: 30px; }

.form-ipoteka {
  padding: 25px;
  max-width: 600px;
  background-color: #ffffff; }

.form-ipoteka__title {
  margin-top: 0;
  font-size: 24px;
  font-weight: 800;
  text-transform: uppercase;
  text-align: center; }

.form-ipoteka__inputs-box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end; }

.form-ipoteka__inputs-item {
  margin: 10px;
  max-width: 255px;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1; }

.form-ipoteka__label {
  display: block;
  margin-bottom: 5px;
  font-size: 16px;
  font-weight: 400; }

.form-ipoteka__input {
  width: 100%;
  padding: 10px;
  border: 1px solid #c2c2c2;
  background-color: #f8f8f8; }

.form-ipoteka__btn {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 13.5px;
  margin: 10px;
  max-width: 255px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  border: none;
  background-color: #d40e14; }

.legalservice {
  max-width: 830px;
  color: #224376; }

.legalservice-text {
  font-size: 18px;
  font-weight: 400;
  line-height: 30px; }

.legalservice__list-title {
  max-width: 650px;
  font-size: 24px;
  font-weight: 800;
  line-height: 34px;
  text-transform: uppercase; }

.legalservice__item {
  margin: 10px 0; }

.legal-contact {
  color: #224376;
  background-image: url("../img/back-legal.png");
  background-repeat: no-repeat; }

.legal-contact__content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  padding: 35px 0; }

.legal-contact__text-box {
  max-width: 500px;
  margin-right: 20px; }

.legal-contact__title {
  margin: 0;
  font-size: 24px;
  font-weight: 900;
  line-height: 34px;
  text-transform: uppercase; }

.legal-contact__text {
  font-size: 18px;
  font-weight: 400;
  line-height: 30px; }

.legal-contact__label-tel {
  margin: 0;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px; }

.legal-contact__tel-link {
  color: #224376; }

.form-ipoteka {
  padding: 25px;
  max-width: 600px;
  background-color: #ffffff; }

.form-ipoteka__title {
  font-size: 24px;
  font-weight: 800;
  text-transform: uppercase;
  text-align: center; }

.form-ipoteka__inputs-box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end; }

.form-ipoteka__inputs-item {
  margin: 10px;
  max-width: 255px;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1; }

.form-ipoteka__label {
  display: block;
  margin-bottom: 5px;
  font-size: 16px;
  font-weight: 400; }

.form-ipoteka__input {
  width: 100%;
  padding: 10px;
  border: 1px solid #c2c2c2;
  background-color: #f8f8f8; }

.form-ipoteka__btn {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 13.5px;
  margin: 10px;
  max-width: 255px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  border: none;
  background-color: #d40e14; }

.about {
  color: #224376; }

.about__subtitle {
  margin: 0;
  font-size: 24px;
  font-style: italic;
  line-height: 34px; }

.about__list-title {
  font-size: 24px;
  font-weight: 800;
  text-transform: uppercase;
  line-height: 34px; }

.about__item {
  margin: 10px;
  font-size: 18px;
  font-weight: 600; }

.about__mission-title {
  font-size: 24px;
  font-weight: 800;
  line-height: 34px;
  text-transform: uppercase; }

.about__mission-text {
  font-size: 24px;
  font-style: italic;
  line-height: 40px; }

.principles {
  padding-top: 90px;
  padding-bottom: 60px;
  color: #224376;
  background-color: #e1e1e1;
  background-image: url("../img/back-princip.png");
  background-repeat: no-repeat;
  background-position: bottom right; }

.principles__title {
  font-size: 24px;
  font-weight: 800;
  line-height: 34px;
  text-transform: uppercase; }

.principles__list {
  max-width: 800px; }

.principles__item {
  margin: 10px 0;
  font-size: 18px;
  font-weight: 600;
  line-height: 24px; }

.principles__quote {
  position: relative;
  padding: 25px 60px 25px 70px;
  max-width: 970px;
  font-size: 24px;
  font-style: italic;
  line-height: 40px;
  background-color: #ffffff; }
  .principles__quote::before {
    content: "";
    position: absolute;
    top: 20px;
    left: 20px;
    width: 17px;
    height: 11px;
    background-image: url("../img/quote-top.png");
    background-size: cover; }
  .principles__quote::after {
    content: "";
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: 17px;
    height: 11px;
    background-image: url("../img/quote-bottom.png"); }

.our-advantages {
  padding-top: 90px;
  padding-bottom: 60px;
  max-width: 900px;
  margin: auto;
  color: #224376; }

.our-advantages__title {
  font-size: 24px;
  font-weight: 800;
  line-height: 34px;
  text-transform: uppercase;
  text-align: center; }

.our-advantages__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: 33% 33% 33%; }

.our-advantages__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 5px;
  padding: 25px 25px 0;
  -webkit-box-shadow: 0 0 10px rgba(100, 100, 100, 0.3);
          box-shadow: 0 0 10px rgba(100, 100, 100, 0.3);
  background-color: #ffffff; }
  .our-advantages__item--side {
    grid-area: 3/4/1/3;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }

.our-advantages__item-title {
  margin: 0;
  font-size: 16px;
  font-weight: 700;
  line-height: 18px; }

.our-advantages__item-text {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: center; }

.our-advantages__img-box {
  height: 65px; }
  .our-advantages__img-box--side {
    height: 100px; }

.aspirations {
  padding: 30px 0 25px;
  background-color: #e1e1e1;
  background-image: url("../img/back-aspirations.png");
  background-repeat: no-repeat;
  background-position: top right; }

.aspirations__title {
  color: #224376;
  font-size: 24px;
  font-weight: 800;
  line-height: 34px;
  text-transform: uppercase;
  text-align: center; }

.aspirations__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 235px; }

.aspirations__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-align-self: flex-end;
      -ms-flex-item-align: end;
          align-self: flex-end;
  -webkit-flex-basis: 287px;
      -ms-flex-preferred-size: 287px;
          flex-basis: 287px;
  margin: 10px;
  padding: 10px 30px;
  -webkit-box-shadow: 0 0 10px rgba(100, 100, 100, 0.3);
          box-shadow: 0 0 10px rgba(100, 100, 100, 0.3);
  background-color: #ffffff; }
  .aspirations__item--2 {
    -webkit-align-self: center;
        -ms-flex-item-align: center;
            align-self: center;
    padding: 17px 30px; }
  .aspirations__item--3 {
    -webkit-align-self: flex-start;
        -ms-flex-item-align: start;
            align-self: flex-start;
    padding: 12px 30px; }

.aspirations__text {
  color: #224376;
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
  text-align: center; }

.assessment {
  max-width: 900px;
  margin: auto;
  padding-bottom: 50px;
  color: #224376; }

.assessment__page-title {
  font-size: 36px;
  font-weight: 800;
  text-transform: uppercase; }

.assessment__text {
  font-size: 18px;
  font-weight: 400;
  line-height: 30px; }

.assessment__title {
  font-size: 24px;
  font-weight: 800;
  line-height: 34px;
  text-transform: uppercase; }

.assessment__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.assessment__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-basis: 31%;
      -ms-flex-preferred-size: 31%;
          flex-basis: 31%;
  margin: 10px;
  padding: 25px 25px 0;
  -webkit-box-shadow: 0 0 10px rgba(100, 100, 100, 0.3);
          box-shadow: 0 0 10px rgba(100, 100, 100, 0.3);
  background-color: #ffffff; }

.assessment__item-title {
  font-size: 16px;
  font-weight: 700;
  line-height: 36.01px; }

.assessment-form {
  color: #224376;
  background-color: #e1e1e1;
  background-image: url("../img/back-assessment-form.png");
  background-repeat: no-repeat;
  background-position: bottom right; }

.assessment-form__content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  padding: 35px 0; }

.assessment-form__text-box {
  max-width: 500px;
  margin-right: 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.assessment-form__title {
  font-size: 24px;
  font-weight: 900;
  line-height: 34px;
  text-transform: uppercase; }

.assessment-form__text {
  font-size: 18px;
  font-weight: 400;
  line-height: 30px; }

.our-partners {
  padding: 50px 0;
  background-color: #c1c1c1;
  background-image: url("../img/back-partners.png");
  background-repeat: no-repeat;
  background-position: center; }

.our-partners__title {
  color: #253364;
  font-size: 36px;
  font-weight: 800;
  text-transform: uppercase;
  text-align: center; }

.our-partners__list {
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }

.our-partners__item {
  padding: 10px 30px;
  margin: 10px;
  background-color: #ffffff; }
