html {
  margin: 0;
  padding: 0; }

body {
  width: 100%;
  font-family: "Gotham Pro", "Tahoma", sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: #000; }

img {
  max-width: 100%;
  height: auto; }

a {
  color: #000;
  text-decoration: none; }

.container {
  max-width: 1170px;
  margin: auto;
  padding: 0 15px; }

.header-top {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  color: #092a5e;
  font-weight: 400;
  font-size: 20px; }

.header-top__info {
  position: relative;
  text-align: center; }

.header-top__logo {
  width: 107px;
  height: 65px; }

.header-top__info::before {
  content: '';
  position: absolute;
  display: block;
  height: 50px;
  width: 1px;
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center;
  background-color: #092a5e; }

.slogan {
  max-width: 242px;
  margin-left: 20px;
  font-size: 16px;
  text-align: left; }

.tel {
  color: #092a5e; }

.header-adres {
  padding: 10px 0 10px 30px;
  background-image: url(../img/pin.svg);
  background-repeat: no-repeat;
  background-position: left center; }

.header-tel {
  display: block;
  padding-left: 30px;
  background-repeat: no-repeat;
  background-position: left center;
  background-image: url("../img/phone2.svg"); }

.social {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px; }

.social__link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 27px;
  height: 27px;
  margin: 10px;
  background-color: #d40e14;
  border-radius: 50%; }

.social__link:hover {
  background-color: #092a5e; }

.social__link svg {
  fill: #fff; }

@media screen and (min-width: 768px) {
  .header-top {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row; }
  .header-top__info {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    max-width: 450px;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  .header-top__info p {
    margin-bottom: 0; }
  .logo {
    margin-right: auto; }
  .slogan {
    margin-right: 40px; } }

@media screen and (min-width: 1024px) {
  .header-top {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .header-top__info {
    width: 100%;
    max-width: 100%;
    -webkit-box-align: baseline;
    -webkit-align-items: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .header-top__info p {
    margin-right: 20px; }
  .logo {
    margin-right: 20px; }
  .slogan {
    -webkit-align-self: center;
        -ms-flex-item-align: center;
            align-self: center; } }

.header-nav {
  background-color: #092a5e;
  margin-bottom: 10px; }

.header-nav__btn {
  width: 100%;
  border: 1px solid;
  background-color: #092a5e;
  color: #fff;
  padding: 10px; }

.nav__list {
  display: none;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-weight: 400;
  text-transform: uppercase;
  list-style: none; }

.nav__link {
  display: block;
  color: #fff;
  font-size: 12px;
  padding: 10px; }

.nav__link:hover {
  background-color: #03193D; }

@media screen and (min-width: 768px) {
  .header-nav {
    margin-bottom: 0; }
  .header-nav__btn {
    display: none; }
  .nav__list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
  .nav__link {
    padding: 21px 5px; } }

@media screen and (min-width: 1024px) {
  .nav__link {
    padding: 21px 10px;
    font-size: 16px; } }

.header-search {
  background-color: #c9c9c9; }

.header-search__form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }

.header-search__inputs-cont {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }

.header-search__inputs-box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative; }

.header-search__label {
  position: absolute;
  top: 15px;
  left: 10px;
  color: #8b98ac;
  font-size: 14px;
  font-weight: 400; }

.header-search__input {
  border: none;
  padding: 20px 10px 5px;
  margin: 10px 0;
  color: #092a5e;
  font-size: 18px;
  font-weight: 700; }

.btn__search {
  margin-bottom: 10px;
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  border: none;
  padding: 21px;
  -webkit-box-shadow: 0 0 10px rgba(100, 100, 100, 0.39);
          box-shadow: 0 0 10px rgba(100, 100, 100, 0.39);
  background-color: #d40e14; }

.btn__search:hover {
  background-color: #9F3032; }

@media screen and (min-width: 768px) {
  .header-search__inputs-cont {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .header-search__inputs-box {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .header-search__inputs-box:not(:last-child) {
    margin-right: 5px; }
  .header-search__input {
    min-width: 130px;
    width: 100%; } }

@media screen and (min-width: 1024px) {
  .header-search__form {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .btn__search {
    margin-top: 10px;
    min-width: 190px; }
  .header-search__inputs-cont {
    width: 100%;
    margin-right: 10px; }
  .header-search__inputs-box {
    width: 100%;
    margin-right: 10px; }
  .header-search__input {
    max-width: 190px; } }

.banner {
  position: relative; }

.slide__list {
  list-style: none;
  padding: 0;
  margin: 0; }

.cloud {
  display: none;
  background-image: url("../img/cloud-w.png");
  background-repeat: no-repeat;
  background-position: bottom;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 380px; }

.slide__item {
  min-height: 200px;
  background-size: cover;
  background-repeat: no-repeat; }

.slide__item1 {
  background-image: url("../img/banner1.jpg"); }

.slide__item2 {
  background-image: url("../img/banner1.jpg"); }

.slide__item3 {
  background-image: url("../img/banner1.jpg"); }

.slide__item4 {
  background-image: url("../img/banner1.jpg"); }

.slide__item5 {
  background-image: url("../img/banner1.jpg"); }

.slide__link {
  display: block;
  padding: 3em;
  max-width: 1000px;
  margin: auto; }

@media screen and (min-width: 768px) {
  .cloud {
    display: block; }
  .slide__img {
    max-width: 70%; }
  .slide__link {
    padding: 5em 1em 10em; }
  .slide__item {
    background-position: center; } }

@media screen and (min-width: 1024px) {
  .slide__img {
    max-width: 62%; }
  .slide__link {
    padding: 7em 0 9em; } }

.main-search {
  padding: 15px;
  background-color: #f8f8f8; }

.main-search__form {
  background-color: #fff;
  margin: auto;
  padding: 10px;
  -webkit-box-shadow: 0px 13px 46px -10px rgba(100, 100, 100, 0.38);
          box-shadow: 0px 13px 46px -10px rgba(100, 100, 100, 0.38); }

.main-search__input-box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }

.main-search__input {
  padding: 15px 10px;
  background-color: #f8f8f8;
  border: 1px solid #e6e6e6; }

.main-search__input:not(:last-child) {
  margin-bottom: 8px; }

::-webkit-input-placeholder {
  color: #818387;
  font-size: 16px;
  font-weight: 400; }

::-moz-placeholder {
  color: #818387;
  font-size: 16px;
  font-weight: 400; }

:-moz-placeholder {
  color: #818387;
  font-size: 16px;
  font-weight: 400; }

:-ms-input-placeholder {
  color: #818387;
  font-size: 16px;
  font-weight: 400; }

.main-search__text-box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #092a5e; }

.text-box__title {
  margin: 0.5em 0;
  font-size: 32px;
  font-weight: 700;
  text-transform: uppercase; }

.text-box__text {
  margin: 0;
  font-size: 24px;
  font-weight: 400;
  line-height: 30px; }

.text-box__text_bold {
  font-size: 24px;
  font-weight: 700;
  line-height: 30px; }

.main-search__btn {
  padding: 20px;
  margin: 0; }

@media screen and (min-width: 768px) {
  .main-search__form {
    max-width: 800px;
    padding: 3em; }
  .main-search__input-box {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around; }
  .main-search__input {
    margin-bottom: 8px;
    width: 47%; }
  .main-search__btn {
    max-width: 233px; } }

@media screen and (min-width: 1024px) {
  .main-search {
    padding: 100px;
    background-color: #f8f8f8; }
  .main-search__form {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    max-width: 1170px;
    margin: auto;
    padding: 88px 103px 95px; }
  .main-search__input-box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-right: 20px;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .main-search__input {
    width: auto;
    margin: 0;
    padding: 16.5px 10px; }
  .text-box__title {
    margin: 0; }
  .main-search__text-box p {
    margin: 5px; } }

.page-footer {
  background-color: #092a5e;
  color: #fff; }

.footer-top {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
  border-bottom: 1px solid rgba(243, 243, 243, 0.4); }

.logo_footer {
  margin-top: 15px;
  margin-right: 20px; }

.footer-adres {
  text-align: center;
  font-size: 26px;
  font-weight: 400; }

.footer-tel {
  margin: 15px 0;
  color: #ffffff;
  font-size: 24px;
  font-weight: 400; }

.page-footer .social__link {
  background-color: #fff; }

.page-footer .social__link:hover {
  background-color: #d40e14; }

.page-footer .social__link svg {
  fill: #092a5e; }

.page-footer .social__link:hover svg {
  fill: #fff; }

.footer-nav__list {
  margin: 0;
  padding: 0;
  list-style: none; }

.footer-nav__link {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
  opacity: 0.8; }

.footer-nav__link:hover {
  opacity: 1; }

.copyright {
  padding: 10px 15px;
  text-align: center; }

.copyright__text {
  margin: 0;
  font-size: 16px;
  font-weight: 300;
  line-height: 19px;
  opacity: 0.7; }

.made {
  margin: 0;
  color: #ffffff;
  font-size: 16px;
  font-weight: 300;
  line-height: 19px;
  text-decoration: underline;
  opacity: 0.7; }

.made:hover {
  opacity: 1; }

@media screen and (min-width: 768px) {
  .footer-top {
    width: 90%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .footer-nav {
    width: 61%; }
  .footer-nav__list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .footer-nav__item {
    width: 50%; }
  .footer-info {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
        -ms-flex-align: end;
            align-items: flex-end;
    width: 100%; }
  .footer-adres {
    margin-bottom: 15px; }
  .copyright {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; } }

@media screen and (min-width: 1024px) {
  .footer-top {
    width: 100%;
    margin-bottom: 20px; }
  .footer-nav {
    width: 45%; }
  .footer-nav__item {
    width: 45%; }
  .footer-info {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    width: 25%; } }
