.hot {
	color: #224376;
	padding-bottom: 100px;
}

.hot__main-title {
	text-shadow: 1px 1px 0 #d3d0d0;	
	font-size: 36px;
	font-weight: 700;
	text-transform: uppercase;
	text-align: center;
}

.hot__list {
	display: flex;
	flex-wrap: wrap;
	padding: 0;
	list-style: none;
	box-shadow: 0 16px 29px rgba(100, 100, 100, 0.27);
}

.hot__item {
	display: flex;
	flex-direction: column;
	width: 24.65%;
	margin: 2px;
	padding: 25px;
	background-color: #fff;
}

.hot__title {
	font-size: 16px;
	font-weight: 700;	
}

.hot__text {
	margin: 0;
	color: #363535;	
	font-size: 14px;
	font-weight: 400;	
}

.hot__price {
	align-self: flex-end;
	color: #363535;
}