.hot {
	color: #224376;
	padding: 10px;
	padding-bottom: 100px;
}

.hot__main-title {
	text-shadow: 1px 1px 0 #d3d0d0;
	font-size: 36px;
	font-weight: 700;
	text-transform: uppercase;
	text-align: center;
}

.hot__list {
	display: flex;
	flex-wrap: wrap;
	padding: 0;

	list-style: none;
	box-shadow: 0 16px 29px rgba(100, 100, 100, 0.27);

	&--other {
		margin-left: auto;
		max-width: 865px;
	}
}

.hot__price-box {
	align-self: flex-end;
    margin-top: auto;
    text-align: right;
}

.hot__old-price {
	display: none;
	align-self: flex-end;
	margin: 0;
	color: #9E9E9E;
	font-size: 18px;
    text-decoration: line-through;
}

.hot__profit {
	display: none;
	align-self: flex-end;
	padding: 7px;
	margin: 0;
	border-radius: 5px;
	font-size: 12px;
	background-color: #FFEB3B;
}

.hot__item {
	position: relative;
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	flex-basis: 295px;
	max-width: 291px;
	min-height: 490px;
	margin: 2px;
	padding: 25px;
	background-color: #fff;

	&:hover {
		background-color: #607d8b1f;
	}

	&--sale::before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 110px;
		height: 105px;
		background-image: url("../img/sale.png");
		background-repeat: no-repeat;
	}

	&--sale .hot__old-price {
		display: block;
	}

	&--sale .hot__profit {
		display: block;
	}
}

.hot__title {
	font-size: 16px;
	font-weight: 700;
}

.hot__text {
	margin: 5px 0;
	color: #363535;
	font-size: 14px;
	font-weight: 400;
}

.hot__price {
	align-self: flex-end;
	margin: 5px 0;
	color: #363535;
	font-size: 24px;
}
