.service {
  display: flex;
  flex-wrap: wrap;
	color: #224376;
	padding-top: 20px;
}

.service__main-title {
  width: 100%;
	text-shadow: 1px 1px 0 #d3d0d0;
	font-size: 36px;
	font-weight: 700;
	text-transform: uppercase;
	text-align: center;
}

.service__list {
	display: grid;
  grid-template-columns: 25% 25% 25% 25%;
	padding: 0;
  margin: 0;
	list-style: none;
	box-shadow: 0 16px 29px rgba(100, 100, 100, 0.27);
}

.service__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 150px;
	margin: 2px;
	padding: 25px 37px 2px;
	background-color: #fff;

  &--side {
    grid-area: 1/4/3/5;
    margin-bottom: 0;
    justify-content: center;
  }
}

.service__link {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.service__title {
	font-size: 16px;
  font-weight: 700;
  line-height: 18px;
  text-align: center;
}

.service__svg {
  fill: #d40e14;
}
