.header-nav {
	background-color: #0a3c8a;
}

.header-nav__list {
	position: relative;
	// display: none;
	justify-content: space-between;
	flex-wrap: wrap;
	width: 100%;
	padding-left: 70px;
	list-style: none;
}

.header-nav__link {
  position: relative;
	display: block;
	padding: 10px 5px;
	color: #c2c2c2;
	font-size: 20px;
	font-weight: 400;

  &::before {
    content: "";
    position: absolute;
    bottom: -20px;
    width: 200px;
    height: 30px;
  }

	&.activ,
	&:hover {
		color: #fff;
	}

	&--yellow {
		padding: 15px 20px;
		padding-left: 39px;
		margin-left: 20px;
		color: #0a3c8a;
		font-size: 14px;
		font-weight: 700;
		text-transform: uppercase;
		background-color: #ffc000;
		background-image: url("../img/plus.svg");
		background-repeat: no-repeat;
		background-position: 10px center;

		&:hover {
			color: #000;
			background-image: url("../img/plus2.svg");
		}
	}
}

@media screen and (min-width: 768px) {
	.header-nav__list {
		display: flex;
	}
}
