.legalservice {
  max-width: 830px;
  color: #224376;
}

.legalservice-text {
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}

.legalservice__list-title {
  max-width: 650px;
  font-size: 24px;
  font-weight: 800;
  line-height: 34px;
  text-transform: uppercase;
}

.legalservice__item {
  margin: 10px 0;
}
